body{
    background-image: url(jenga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
}

h1{
    margin-left: 5%;
    font-weight: bolder;
    font-family: cursive;
    font-size: xx-large;
    margin-top: 0;
    color: lightyellow;
}

#box{
    height: 400px;
    width: 600px;
    border: 4px solid black;
    margin-top: 2%;
    margin-left: 2%;
    overflow: hidden;
    position: relative;
    display: flex;
}

#box div div{
    height: 40px;
    width: 30px;
    margin: 0;
}

#start{
    background-color: transparent;
    font-size: x-large;
    font-weight: bold;
    border: 3px solid lightyellow;
    height: 50px;
    width: 108px;
    margin-left: 13%;
    margin-top: 2%;
    border-radius: 25px;
    color: lightyellow;
    cursor: pointer;
}

#score{
    font-size: x-large;
    font-weight: bold;
    color: lightyellow;
    position: absolute;
    top: 7%;
    left: 3%;
}

#settings{
    margin-left: 2%;
    color: lightyellow;
    font-weight: bold;
    font-size: x-large;
}